body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;

}
.header {
    background: #1F2937;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 4px;
    padding: 0 16px;
}

img {
    max-width: 600px;
    padding: 8px;
    border-radius: 25px;
}

.headerLinks {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

.landingContainer {
    background-color: #1F2937;
    color: white;
    display: flex;
    padding: 8px;
    justify-content: center;
    padding-bottom: 16px;
}

.contextContainer {
    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
    max-width: 400px;
    margin: 16px;
    padding: 8px;
}

.mainTitle {
    font-size: 48px;
    line-height: 48px;
    font-weight: bolder;
    margin: 0;
    color: #F9FAF8;
}

button {
    background-color:#3882F6;
    color: #F9FAF8;
    max-width: 100px;
    border-radius: 4px;
    padding: 4px;
    border-style: none;
}